<div id="pageContainer">
    <div>
    <div class="uploader-content" [ngClass]="isOnPopUp === true ? 'popUpView' : ''">
        <div class="upload-asset">
            <div class="file-section">
                <label class="body-md ellipsis">{{'UPLOAD_ASSET.TITLE' | translate}}</label>
                <span class="body-xs ellipsis">{{'UPLOAD_ASSET.SUB_TITLE' | translate}}</span>

                <div class="fileupload" (click)="fileField.click()">
                                <pep-icon name="system_file_upload_cloud"></pep-icon>
                                <span class="body-sm ellipsis">{{'UPLOAD_ASSET.UPLOAD_FILE' | translate}}</span> 
                                <input type="file" name="avatars" #fileField (change)="upload($event.target.files)">
                </div>
            </div>
            <div class="url-section">
                <pep-textbox [label]="'UPLOAD_ASSET.UPLOAD_URL' | translate" type="link" [value]="''" sizeType="xs"  (valueChange)="assetURLChange($event)"></pep-textbox>
                <pep-button [value]="'UPLOAD_ASSET.INSERT_URL' | translate" [styleType]="'regular'" sizeType="md"  (buttonClick)="assetURLChange($event);"></pep-button>
            </div>
        </div>
        <div *ngIf="isOnPopUp" class="link-asset">
                <label class="body-md">{{'UPLOAD_ASSET.TITLE' | translate}}</label>
                <pep-textbox [label]="'UPLOAD_ASSET.UPLOAD_URL' | translate" type="link" [value]="''" sizeType="md"  (valueChange)="assetURLChange($event)"></pep-textbox>
                <pep-button [value]="'UPLOAD_ASSET.INSERT_URL' | translate" [styleType]="'regular'" sizeType="md"  (buttonClick)="assetURLChange($event);"></pep-button>
        </div>
    </div>

    <pep-top-bar class="main-top-header" [inline]="true">
        <div header-start-content>
            <pep-list-actions [sizeType]="'sm'" class="pep-spacing-element" [actions]="menuActions" (actionClick)="onMenuItemClicked($event)"></pep-list-actions>
            <div class="title title-lg">{{assetsHeaderTitle}}</div>
        </div>
        <div header-end-content>
            <ng-container *ngTemplateOutlet="topBarEnd"></ng-container>
        </div>
    </pep-top-bar>
    <pep-bread-crumbs class="pep-spacing-element" [items]="breadCrumbsItems" [displayType]="'items'"
                    (itemClick)="onBreadCrumbItemClick($event)">

    </pep-bread-crumbs>
    </div>
    <div>
    <generic-list [dataSource]="assetsDataSource" (onSelectedRowChange)="onSelectedRowChange($event)" [inline]="true" [allowMultipleSelection]="true" [showTopBar]="false" [title]="assetsHeaderTitle">
        <ng-container right-buttons>
            <ng-container *ngTemplateOutlet="topBarEnd"></ng-container>
        </ng-container>
    </generic-list>
</div>


<ng-template #topBarEnd>
    <pep-button class="pep-spacing-element" value="{{'TOP_BAR.ADD_FOLDER' | translate}}" styleType="weak"
    styleStateType="system" sizeType="sm" iconName="system_folder" iconPosition="end"
        (buttonClick)="onAddFolderClick($event)"></pep-button>
    <pep-menu class="pep-spacing-element" [items]="[]" sizeType="sm" (menuItemClick)="onMenuItemClicked($event)">
    </pep-menu>
    <pep-search sizeType="sm" [triggerOn]="'click'" class="pep-spacing-element" [autoCompleteValues]="searchAutoCompleteValues" [value]="searchString"
        (search)="onSearchChanged($event)" (autocompleteChange)="onSearchAutocompleteChanged($event)"
        (stateChange)="onSearchStateChanged($event)">
    </pep-search>
    <pep-button class="pep-spacing-element" styleType="weak" styleStateType="system" sizeType="sm" 
        iconName="arrow_two_ways_ver_t" iconPosition="start" (buttonClick)="sortToggle($event)">
    </pep-button>
    <pep-button *ngIf="currentView !== 'list'" class="pep-spacing-element" styleType="weak" styleStateType="system" sizeType="sm" 
        iconName="view_table" iconPosition="start" (buttonClick)="viewsToggle($event)">
    </pep-button>
    <pep-button *ngIf="currentView === 'list'" class="pep-spacing-element" styleType="weak" styleStateType="system" sizeType="sm" 
        iconName="view_card_sm" iconPosition="start" (buttonClick)="viewsToggle($event)">
    </pep-button>
</ng-template>