<pep-page-layout class="assets-container add-padding">
    <ng-container pep-top-area>
        <pep-top-bar [title]="('TITLE' | translate)">
            <div header-start-content>
            </div>
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="inDialogCollapseHeader pep-border-bottom">
            <pep-button #toggleBtn class="pep-spacing-element toggleBtn pull-left flip" [styleType]="'weak'" [styleStateType]="'system'" [sizeType]="'xs'"
                    (buttonClick)="toggleContentView($event)" iconName="arrow_down" [ngClass]="inDialog === true ? 'rotate' : ''"></pep-button>
                    <label class="body-md ellipsis pull-left flip pep-spacing-element">{{'UPLOAD_ASSET.SEC_TITLE' | translate}}</label>
        </div>
        <div #uploaderCont class="uploader-content expand" [ngClass]="inDialog === true ? 'popUpView collapse' : ''">
            <div class="upload-asset">
                <div class="file-section"> 
                    <label class="body-md ellipsis pull-left flip">{{'UPLOAD_ASSET.TITLE' | translate}}</label>
                    <span class="body-xs ellipsis">{{'UPLOAD_ASSET.SUB_TITLE' | translate}}</span>
    
                    <div class="fileupload" (click)="fileField.click()" (dragover)="onDragOver($event)" 
                        (drop)="onDropSuccess($event)" [ngClass]="validateMsg !== '' ? 'validationErrMsg' : ''">
                                    <pep-icon name="system_file_upload_cloud"></pep-icon>
                                    <span class="body-sm ellipsis">{{'UPLOAD_ASSET.UPLOAD_FILE' | translate}}</span> 
                                    <input type="file" multiple="multiple" name="avatars" #fileField (change)="upload($event.target.files)">   
                    </div>
                    <div *ngIf="validateMsg !== ''" class="body-xs validationMsg">{{validateMsg}}</div>
                </div>
                
                <div class="url-section">
                    <pep-textbox [label]="'UPLOAD_ASSET.UPLOAD_URL' | translate" type="link" [(value)]="linkURL" sizeType="xs"></pep-textbox>
                    <pep-button [value]="'UPLOAD_ASSET.INSERT_URL' | translate" [styleType]="'regular'" [sizeType]="'md'"  (buttonClick)="assetURLChange(linkURL);"></pep-button>
                    <div *ngIf="urlValidateMsg !== ''" class="body-xs validationMsg">{{urlValidateMsg}}</div>
                </div>
            </div>
            <div *ngIf="inDialog" class="link-asset">
                    <label class="body-md">{{'UPLOAD_ASSET.LINK_TITLE' | translate}}</label>
                    <pep-textbox [label]="'UPLOAD_ASSET.LINK_SUB_TITLE' | translate" type="link" [(value)]="popUplinkURL" sizeType="md"></pep-textbox>
                    <pep-button [value]="'UPLOAD_ASSET.LINK_URL' | translate" [styleType]="'regular'" [sizeType]="'md'"  (buttonClick)="assetLinkURLChange(popUplinkURL);"></pep-button>
            </div>
        </div>

        <pep-generic-list #genericList [dataSource]="dataSource" [actions]="actions" (onSelectedRowChange)="onSelectedRowChange($event)" 
            [uuidMapping]="'Key'"  [breadCrumbsItems]="breadCrumbsItems" (breadCrumbItemClick)="onBreadCrumbItemClick($event)"
            [inline]="true" [selectionType]="'single'" [supportSorting]="false" [showSearch]="true"
            [showTopBar]="true" [title]="assetsHeaderTitle" [noDataFoundMsg]="'GRID.FILE_NOT_FOUND' | translate"
            (fieldClick)="onCustomizeFieldClick($event)">
            <ng-container right-buttons>
                <ng-container *ngTemplateOutlet="topBarEnd"></ng-container>
            </ng-container>
        </pep-generic-list>

        <!-- <pep-file-status-panel [title]="'File download'" [filesList]="assetsStack"></pep-file-status-panel> -->
        <div *ngIf="inDialog" class="pep-border-top mat-dialog-actions">
            <pep-button value="{{'ACTIONS.CLOSE' | translate}}" styleType="weak" sizeType="md" classNames="pep-spacing-element" (buttonClick)="closeDialogClick($event)"></pep-button>
            <pep-button value="{{'ACTIONS.DONE' | translate}}" styleType="strong" sizeType="md" classNames="pep-spacing-element" (buttonClick)="doneAssetsClick($event)"></pep-button>
        </div>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>

<ng-template #topBarEnd>
    <pep-button class="pep-spacing-element" value="{{'TOP_BAR.ADD_FOLDER' | translate}}" [styleType]="'weak'"
    [styleStateType]="'system'" [sizeType]="'sm'" iconName="system_folder" iconPosition="end"
        (buttonClick)="onAddFolderClick($event)"></pep-button>
    <pep-menu text="{{'TOP_BAR.FILTERS' | translate }}" [type]="'action-select'" [class]="'pep-spacing-element'" [items]="mimeFilterItems"
              [styleType]="'weak'" [styleStateType]="'system'" [sizeType]="'sm'" [c]lassNames]="mat-button" 
              (menuItemClick)="onMenuItemClicked($event)">
    </pep-menu>
    <!-- <pep-search sizeType="sm" [triggerOn]="'click'" class="pep-spacing-element" [autoCompleteValues]="searchAutoCompleteValues" [value]="searchString"
        (search)="onSearchChanged($event)" (autocompleteChange)="onSearchAutocompleteChanged($event)"
        (stateChange)="onSearchStateChanged($event)">
    </pep-search> -->
    <!-- <pep-button class="pep-spacing-element" styleType="weak" styleStateType="system" sizeType="sm" 
        iconName="arrow_two_ways_ver_t" iconPosition="start" (buttonClick)="sortToggle($event)">
    </pep-button>
    <pep-button *ngIf="currentView !== 'list'" class="pep-spacing-element" styleType="weak" styleStateType="system" sizeType="sm" 
        iconName="view_table" iconPosition="start" (buttonClick)="viewsToggle($event)">
    </pep-button> -->
</ng-template>